body {
  margin: 0;
  background-image: url('https://static01.nyt.com/images/2018/01/28/travel/28marfa8/merlin_132361262_66dd8cee-6606-48cb-83c4-a759b0fa87de-superJumbo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  background-position-y: 10%;
}

code {
  font-family: 'Roboto Mono'
}
